<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="./node_modules/todomvc-app-css/index.css" />
 </head>
 <body>
  <section class="todoapp">
   <header class="header">
    <h1>云备忘录</h1>
    <input class="new-todo" placeholder="接下来要做什么?" autofocus=""
    v-model="newTodo"
    @keyup.enter="addTodo"
    />
   </header>
   <section class="main"
   v-show="showTodos"
   >
    <input class="toggle-all" id="toggle-all" type="checkbox"
    v-model="allDone"
    />
    <label for="toggle-all">一键全部完成</label>
    <ul class="todo-list">
      <li
        v-for="(todo, index) in filteredTodos"
        :key="'todo-' + index"
        :class="{ completed: todo.completed, editing: todo === editedTodo}"
      >
        <div class="view">
         <input class="toggle" type="checkbox"
         v-model="todo.completed"
         />
         <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
         <button class="destroy"
           @click="removeTodo(todo)"
         ></button>
        </div>
        <input class="edit"
        v-model="todo.title"
        v-focus="todo === editedTodo"
        @keyup.enter="doneEdit(todo)"
        @keyup.esc="cancelEdit(todo)"
        @blur="cancelEdit(todo)"
        />
      </li>
    </ul>
   </section>
   <footer class="footer"
   v-show="showTodos"
   >
    <span class="todo-count"><strong>{{ activeCount }}</strong> 项未完成</span>
    <ul class="filters">
     <li> <a href="#/"
       :class="{ selected: visibility === 'all' }"
       @click="visibility='all'"
       >全部</a> </li>
     <li> <a href="#/active"
       :class="{ selected: visibility === 'active' }"
       @click="visibility='active'"
       >未完成</a> </li>
     <li> <a href="#/completed"
       :class="{ selected: visibility === 'completed' }"
       @click="visibility='completed'"
       >已完成</a> </li>
    </ul>
    <button class="clear-completed"
    @click="removeCompleted"
    v-show="completedCount"
    >清空已完成</button>
   </footer>
  </section>
  <script src="./node_modules/vue/dist/vue.js" charset="utf-8"></script>
  <script src="./node_modules/underscore/underscore.js" charset="utf-8"></script>
  <script src="./js/store.js" charset="utf-8"></script>
  <script src="./js/app.js" charset="utf-8"></script>
 </body>
</html>
